{% extends 'base.html.twig' %}




{% block body %}

<div class="container mt-5">
    <div class="card shadow p-3 mb-5 mt-3 customForm">
        <h2 class="text-center mb-4 titleForm">Formulaire de réservation</h2>
        <div class="card-body">
            {{ form_start(visitors, {'attr': {'class': 'form'}}) }}
             <div class="form-group mt-3">
                    {{ form_label(visitors.name, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(visitors.name, {'attr': {'class': 'form-control customForm'}}) }}
                    {{ form_errors(visitors.name) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_label(visitors.email, 'Adresse e-mail', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(visitors.email, {'attr': {'class': 'form-control customForm'}}) }}
                    {{ form_errors(visitors.email) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_label(visitors.phone, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(visitors.phone, {'attr': {'class': 'form-control customForm'}}) }}
                    {{ form_errors(visitors.phone) }}
                </div>
                <button type="submit" class="btn btn btnCustom mt-4" id="submitReservation" {% if isFormSubmitted %}style="display: none;"{% endif %}> 
                Valider vos informations
                </button>
            {{ form_end(visitors) }}
            {% for message in app.flashes('valid') %}
                <div class="alert alert-success mt-3" role="alert">
                            {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
       
{% endblock %}