{% extends "base.html.twig" %}

{% block body %}

 <div class="container mt-5">
 {% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-3" role="alert">
			{{ message }}
		</div>
		{% endfor %}
	{{ form_start(schedules) }}
	{{ form_row(schedules.openingNoon) }}
	{{ form_row(schedules.closingNoon) }}
	{{ form_row(schedules.openingEvening) }}
    {{ form_row(schedules.closingEvening) }}
	
	<input type="submit" class="btn btn-primary mt-2" value="Publier le menu">
	{{ form_end(schedules) }}
    </div>

{% endblock %}