{% extends "base.html.twig" %}

{% block main %}

	<div class="container marginNavbar pt-5">
		<div class="card shadow p-3 mb-5 mt-3 rounded customForm">
			<div>
				<h2 class="text-center mb-5 titleForm">Réserver une table</h2>
			</div>
			<div class="card-body">
				{{ form_start(reservationsVisitor, {'attr': {'id': 'formReservation', 'class': 'form customForm'}}) }}
				<div class="form-group mt-3">
					{{ form_label(reservationsVisitor.flatware, 'Nombre de couverts', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(reservationsVisitor.flatware, {'attr': {'class': 'form-control customForm border border-light'}}) }}
				</div>
				<div class="form-group mt-3">
					{{ form_label(reservationsVisitor.reservationDate, 'Date de réservation', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(reservationsVisitor.reservationDate, {'attr': {'class': 'form-control customForm border border-light'}}) }}
					{{ form_errors(reservationsVisitor.reservationDate) }}
				</div>
				<div class="form-group mt-3">
					{{ form_label(reservationsVisitor.reservationHour, 'Heure de réservation', {'label_attr': {'class': 'form-label me-3'}}) }}
					{{ form_widget(reservationsVisitor.reservationHour, {'attr': {'class': 'form-control text-black customForm d-flex flex-wrap justify-content-around border border-light'}}) }}
				</div>
				<div class="form-group mt-3">
					{{ form_label(reservationsVisitor.allergy, 'Allergies éventuelles', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(reservationsVisitor.allergy, {'attr': {'class': 'form-control customForm border border-light'}}) }}
				</div>
				<button type="submit" class="btn btnCustom mt-4" id="submitReservation">
					Réserver
				</button>
				{{ form_end(reservationsVisitor) }}
			</div>
		</div>
	</div>

{% endblock %}

