{% extends "base.html.twig" %}

{% block body %}

  <div class="container mt-5">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h4>Réserver une table</h4>
      </div>
      <div class="card-body">
        {{ form_start(reservationsVisitor, {'attr': {'class': 'form', 'id': 'formReservationVisitor'}}) }}
        <div class="form-group">
          {{ form_label(reservationsVisitor.flatware, 'Nombre de couverts', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(reservationsVisitor.flatware, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(reservationsVisitor.reservationDate, 'Date de réservation', {'label_attr': {'class': 'form-label'}}) }}
             {{ form_widget(reservationsVisitor.reservationDate, {'attr': {'class': 'form-control', 'id': 'reservation_user_reservationDate'}}) }}
		  {{ form_errors(reservationsVisitor.reservationDate) }}
        </div>
        <div class="form-group">
		  {{ form_label(reservationsVisitor.reservationHour, 'Heure de réservation', {'label_attr': {'class': 'form-label me-3'}}) }}
		  {{ form_widget(reservationsVisitor.reservationHour, {'attr': {'class': 'form-control d-flex flex-wrap justify-content-around', 'id': 'reservationHour'}}) }}
		</div>
        <div class="form-group">
          {{ form_label(reservationsVisitor.allergy, 'Allergies éventuelles', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(reservationsVisitor.allergy, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary mt-2" id="submitReservation">Réserver</button>
        {{ form_end(reservationsVisitor) }}
      </div>
    </div>
  </div>

{% endblock %}