{% extends "base.html.twig" %}

{% block body %}

 <div class="container mt-5">
	{{ form_start(menus) }}
	{{ form_row(menus.menuTitle) }}
	{{ form_row(menus.title) }}
	{{ form_row(menus.description) }}
    {{ form_row(menus.price) }}
	
	<input type="submit" class="btn btn-primary mt-2" value="Publier le menu">
	{{ form_end(menus) }}
    </div>

{% endblock %}