{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-5 shadow mb-5 p-4 responsiveForm">
	<h1 class="text-center mb-5">Créer un nouveau plat</h1>
	{{ form_start(dishes, {'attr': {'class': 'row g-3 justify-content-center customForm'}}) }}
		{{ form_row(dishes.categories, {'attr': {'class': 'form-select mb-2 customForm'}}) }}
		{{ form_row(dishes.title, {'attr': {'class': 'form-control mb-2 customForm'}}) }}
		{{ form_row(dishes.description, {'attr': {'class': 'form-control mb-2 customForm', 'rows': 5}}) }}
		{{ form_row(dishes.price, {'attr': {'class': 'form-control customForm'}}) }}
		<div class="col-12">
			<input type="submit" class="btn btnCustom" value="Publier la carte">
		</div>
	{{ form_end(dishes) }}
</div>

{% endblock %}