{% extends "base.html.twig" %}

{% block body %}


	<div class="container mt-5">
		<div class="card vh-100">
			<div class="card-body">
				<h2 class="text-center mb-5"> Menu du Quai Antique </h2>

	
		{% for menu in menus %}
			
				
				<div>
					<h5 class="card-title text-center">{{  menu.title }}</h5>
					<p class="card-text text-center">{{ menu.description }}</p>
					<p class="card-text text-center">{{ menu.price }}</p>
                    <div class="d-flex justify-content-center">
					<a href="{{ path('delete-menu', {'id': menu.id}) }}" class="btn btn-danger btn-sm ms-1 ">Supprimer</a>
					 <a href="{{ path('edit-menu', {'id': menu.id}) }}" class="btn btn-warning btn-sm ms-1 ">Modifier</a>
				</div>
					
    	</div>
			</div>
		</div>
					
		{% endfor %}

        {% endblock %}