{% extends "base.html.twig" %}

{% block body %}

 <div class="container mt-5">
	{{ form_start(dishes) }}
	{{ form_row(dishes.title) }}
	{{ form_row(dishes.description) }}
    {{ form_row(dishes.price) }}
	<input type="submit" class="btn btn-primary mt-2" value="Publier la carte">
	{{ form_end(dishes) }}
    </div>

{% endblock %}