{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-5">
	<div class="card shadow">
		<div class="card-body">
			<h2 class="text-center mb-5">Carte du Quai Antique</h2>
			<div class="row justify-content-center">
				{% for dishe in dishes %}
				<div class="col-sm-10 col-md-7 col-lg-4 mb-4">
					<div class="card h-100">
							<div class="card-body">
							
							
							<h5 class="card-title">{{ dishe.title }}</h5>
							<hr class="my-2">
							<p class="card-text">{{ dishe.description }}</p>
							<hr class="my-2">
							<p class="card-text font-weight-bold"> Prix : {{ dishe.price }}</p>
							
					</div>
						{% if ( is_granted('ROLE_ADMIN') ) %}
	                    <div class="card-footer d-flex justify-content-center">
							<a href="{{ path('delete-dishes', {'id': dishe.id}) }}" class="btn btn-sm me-1 adminButton"><i class="bi bi-trash"></i> Supprimer</a>
							<a href="{{ path('edit-dishes', {'id': dishe.id}) }}" class="btn btn-sm adminButton"><i class="bi bi-pencil"></i> Modifier</a>
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3">
		<a href="/user/new/" class="btn btn-secondary mt-5">Découvrez nos menus du moment!</a>
	</div>
</div>



		

	{{ include('footer.html.twig') }}



{% endblock %}








