{% extends 'base.html.twig' %}


{% block body %}


<div class="d-flex justify-content-around flex-wrap mt-5">
    {% for picdishe in picdishes %}
        <div class="card text-bg-dark my-3"> 
            <img src={{ asset('uploads/' ~ picdishe.image) }} class="card-img rounded-circle" height="300px" width="100px"alt={{picdishe.title}}> 
            <div class="card-img-overlay">
              <h5 class="card-title text-white text-center">{{ picdishe.title }}</h5>
            {% if ( is_granted('ROLE_ADMIN') ) %}
            <div class="d-flex justify-content-center">
                <a href="{{ path('delete-picdishe', {'id': picdishe.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                <a href="{{ path('edit-picdishe', {'id': picdishe.id}) }}" class="btn btn-warning btn-sm ms-1 ">Modifier</a>
            </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}

</div>

<div class="d-flex justify-content-center mt-5">

      <a href="#" class="btn btn-primary btn-lg active" style="background-color: #ffac44;" role="button" aria-pressed="true">Reserver une table</a>

</div>

{{ include('footer.html.twig') }}

{% endblock %}
